<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nativelang>
            <general>
                <enabled>0</enabled>
                <service>google</service>
                <auto_translate>0</auto_translate>
                <cache_enabled>1</cache_enabled>
                <cache_lifetime>86400</cache_lifetime>
                <max_text_length>50000</max_text_length>
            </general>
            <attributes>
                <translate_name>1</translate_name>
                <translate_description>1</translate_description>
                <translate_short_description>1</translate_short_description>
            </attributes>
            <openai>
                <model>gpt-3.5-turbo</model>
            </openai>
        </nativelang>
    </default>
</config>
